/* QUIZzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz */
/* Rectangle 4354 */
.QUIZ-proj-wrapper {
  margin-top: 76px;
  font-family: "Roboto", sans-serif;
 /* RESULTS */
 /* ARABIC */
 /* MOBILE */
}
.QUIZ-proj-wrapper .preloaderq {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 500px;
  background: none;
}
.QUIZ-proj-wrapper {
 /* display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  */
}
.QUIZ-proj-wrapper a.external-link:after {
  content: "";
  display: inherit !important;
  height: inherit !important;
  width: inherit !important;
  -webkit-margin-start: inherit !important;
  margin-inline-start: inherit !important;
  -webkit-margin-end: inherit !important;
  margin-inline-end: inherit !important;
  background-color: inherit !important;
  -webkit-mask-image: none !important;
  mask-image: none !important;
}
.QUIZ-proj-wrapper .page-content.container {
  max-width: 100%;
  padding: 0;
}
.QUIZ-proj-wrapper .progressBar {
  width: 700px;
  height: 10px;
  background: rgba(194, 194, 194, 0.3);
  border-radius: 40px;
  margin-top: 32px;
  position: relative;
}
.QUIZ-proj-wrapper .progressBarInner {
  position: absolute;
  height: 10px;
  border-radius: 40px;
  background: #6c0;
  width: 10%;
  left: 0;
  transition: width 0.5s ease-in-out;
}
.QUIZ-proj-wrapper .quiz_image {
  margin-top: 57px;
  width: 947px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QUIZ-proj-wrapper .quiz_title {
  font-size: 58px;
  font-weight: 800;
  color: #161616;
  margin-top: 48px;
}
.QUIZ-proj-wrapper .quiz_content {
  font-size: 24px;
  font-weight: 400;
  width: 584px;
  text-align: center;
  margin-top: 24px;
}
.QUIZ-proj-wrapper .flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QUIZ-proj-wrapper .pointer {
  cursor: pointer;
}
.QUIZ-proj-wrapper .btn-quiz {
  margin-top: 8px;
  width: 222px;
  border-radius: 4px;
  padding: 12px 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #6c0;
  display: flex;
  justify-content: center;
}
.QUIZ-proj-wrapper .btn-quiz:hover {
  opacity: 0.8;
}
.QUIZ-proj-wrapper .btn-quiz-green {
  background: #6c0;
}
.QUIZ-proj-wrapper .btn-quiz img {
  margin-left: 8px;
  align-items: center;
  object-fit: contain;
}
.QUIZ-proj-wrapper .prev-btn-quiz {
  flex-direction: row-reverse;
}
.QUIZ-proj-wrapper .prev-btn-quiz img {
  margin: 0 10px 0 0;
}
.QUIZ-proj-wrapper .btn-quiz-green.disabled {
  border: 2px solid #a6b19b;
  background: #a6b19b;
  cursor: default;
}
.QUIZ-proj-wrapper .btn-quiz-white {
  background: #fff;
  color: #000;
}
.QUIZ-proj-wrapper .visible {
  display: block;
  visibility: visible;
}
.QUIZ-proj-wrapper .navig-start, .QUIZ-proj-wrapper .navig {
  padding-bottom: 25px;
  padding-top: 25px;
  background: #fff;
  box-shadow: 0px -3px 13px rgba(0, 0, 0, 0.03);
  bottom: 0;
  width: 100%;
}
.QUIZ-proj-wrapper .navig .btn-quiz {
  margin: 0 35px;
}
.QUIZ-proj-wrapper .flex-raw-center {
  display: flex;
  justify-content: center;
}
.QUIZ-proj-wrapper .options {
  margin-top: 48px;
  width: 900px;
}
.QUIZ-proj-wrapper .thebtn {
  list-style: none;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 16px;
  margin: 0 16px 16px 0;
  font-size: 18px;
}
.QUIZ-proj-wrapper .thebtn:hover {
  box-shadow: 0px 1px 5px #c2c2c2;
}
.QUIZ-proj-wrapper .thebtn.selected {
  border: 1px solid #6c0;
  background-color: #6c0;
  box-shadow: 0px 1px 5px #6c0;
}
.QUIZ-proj-wrapper .panelsWrapper {
  border-top: 1px solid #d9dbe9;
  margin-top: 32px;
  text-align: center;
  min-height: 400px;
}
.QUIZ-proj-wrapper .panelsWrapperOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QUIZ-proj-wrapper .panelsWrapper .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.QUIZ-proj-wrapper .counterPer {
  font-weight: 500;
  font-size: 14px;
  margin-top: 7px;
}
.QUIZ-proj-wrapper .question {
  font-size: 32px;
  color: #161616;
  font-weight: 700;
  margin-top: 32px;
}
.QUIZ-proj-wrapper .instructions {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 400;
}
.QUIZ-proj-wrapper .hidden {
  display: none;
  visibility: hidden;
}
.QUIZ-proj-wrapper .has_long_title {
  flex-direction: column;
  text-align: left;
}
.QUIZ-proj-wrapper .has_long_title .thebtn {
  border: none;
  border-radius: 0;
  margin: 0 16px 0px 0;
  padding: 4px 0;
  border-bottom: 1px solid #c2c2c2;
}
.QUIZ-proj-wrapper .has_long_title .thebtn:hover {
  box-shadow: none;
}
.QUIZ-proj-wrapper .has_long_title .thebtn.selected {
  box-shadow: none;
  background: none;
}
.QUIZ-proj-wrapper .has_long_title .thebtn .thebtnInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 25px;
  width: 100%;
  border-radius: 8px;
}
.QUIZ-proj-wrapper .has_long_title .thebtn.selected .thebtnInner {
  background: #ecf9ec;
}
.QUIZ-proj-wrapper .has_long_title .thebtn:last-child {
  border: none;
}
.QUIZ-proj-wrapper .has_long_title .thebtn span {
  margin-left: 12px;
}
.QUIZ-proj-wrapper .has_long_title .thebtn .not-selected {
  padding: 2px;
}
.QUIZ-proj-wrapper .hidecheck {
  width: 0px;
  user-select: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
}
.QUIZ-proj-wrapper .flex {
  display: flex;
}
.QUIZ-proj-wrapper .result_inner {
  width: 1220px;
  justify-content: space-around;
  margin: 0 auto;
}
.QUIZ-proj-wrapper .big-tit {
  font-size: 64px;
  color: #161616;
  font-weight: 700;
}
.QUIZ-proj-wrapper .quote {
  font-size: 24px;
  margin-top: 8px;
}
.QUIZ-proj-wrapper .percentage-phrase {
  font-size: 24px;
  color: #004b00;
  letter-spacing: 0.24em;
  margin-top: 8px;
}
.QUIZ-proj-wrapper .share-btn {
  border: 2px solid rgba(102, 204, 0, 1);
  border-radius: 4px;
  padding: 16px 28px;
  width: 180px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 48px auto 0 auto;
  cursor: pointer;
}
.QUIZ-proj-wrapper .share-btn.clicked {
  background-color: rgba(102, 204, 0, 1);
}
.QUIZ-proj-wrapper .share-btn .inner {
  justify-content: space-around;
  width: 70px;
  align-items: center;
}
.QUIZ-proj-wrapper .share-btn:hover {
  border-color: rgba(102, 204, 0, 0.6);
}
.QUIZ-proj-wrapper .txtc {
  text-align: center;
}
.QUIZ-proj-wrapper .qrel {
  position: relative;
}
.QUIZ-proj-wrapper .per_text {
  font-size: 24px;
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.QUIZ-proj-wrapper .donateBtn {
  margin: 24px auto 0 auto;
  width: 180px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #f36b35;
  border-radius: 4px;
  padding: 12px 28px;
  cursor: pointer;
  display: block;
}
.QUIZ-proj-wrapper .actionsWrapper {
  margin-top: 32px;
}
.QUIZ-proj-wrapper .actionsWrapper .ResBlock1 {
  background-color: #3a3a3a;
  color: #fff;
  padding: 25px 25px 110px 25px;
}
.QUIZ-proj-wrapper .actionsWrapper .ResBlock2 {
  margin-top: 32px;
  padding: 25px 25px 110px 25px;
}
.QUIZ-proj-wrapper .impactfull_title {
  font-size: 48px;
  font-weight: bold;
}
.QUIZ-proj-wrapper .impactfull_desc {
  margin-top: 15px;
  font-size: 24px;
  width: 630px;
}
.QUIZ-proj-wrapper .impactfull_sub_green {
  margin-top: 15px;
  font-size: 24px;
  color: #6c0;
}
.QUIZ-proj-wrapper .cardsWrapper {
  display: flex;
  margin-top: 45px;
}
.QUIZ-proj-wrapper .cardsWrapper .cardTitle {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 4px 0 4px;
  min-height: 75px;
  width: 98%;
}
.QUIZ-proj-wrapper .cardsWrapper .cardCat {
  font-size: 18px;
  font-weight: 400;
  padding-top: 8px;
}
.QUIZ-proj-wrapper .cardsWrapper .cardCat a {
  color: #6c0;
}
.QUIZ-proj-wrapper .cardsWrapper .flexmecol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 495px;
}
.QUIZ-proj-wrapper .cardsWrapper a {
  text-decoration: none;
  color: #fff;
}
.QUIZ-proj-wrapper .cardsWrapper .btn-quiz {
  margin-top: 8px;
  font-weight: 500;
  display: block;
}
.QUIZ-proj-wrapper .slick-prev:before, .QUIZ-proj-wrapper .slick-next:before {
  content: "";
  width: 42px;
  height: 42px;
  display: block;
  z-index: 100;
  opacity: 1;
}
.QUIZ-proj-wrapper .slick-prev:hover, .QUIZ-proj-wrapper .slick-next:hover {
  opacity: 0.7;
}
.QUIZ-proj-wrapper .slick-next, .QUIZ-proj-wrapper .slick-prev {
  left: inherit;
  right: inherit;
  top: inherit;
  bottom: -60px;
}
.QUIZ-proj-wrapper .slick-next {
  right: 40px;
}
.QUIZ-proj-wrapper .slick-prev {
  right: 95px;
}
.QUIZ-proj-wrapper .slick-next:before {
  background: url('../assets/src/library/css/arrow-right.png') no-repeat 0 0;
}
.QUIZ-proj-wrapper .slick-prev:before {
  background: url('../assets/src/library/css/arrow-left.png') no-repeat 0 0;
}
.QUIZ-proj-wrapper .moreyoucardswrap {
  display: flex;
}
.QUIZ-proj-wrapper .read-more-lnk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.QUIZ-proj-wrapper .read-more-lnk .txt {
  color: #161616;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding-left: 12px;
}
.QUIZ-proj-wrapper .read-more-lnk .bg {
  background: url(../img/post-arrow-right.png) no-repeat 0;
  display: block;
  width: 42px;
  height: 42px;
}
.QUIZ-proj-wrapper .moreyoucardswrap {
  border: 1px solid #161616;
  margin-top: 55px;
}
.QUIZ-proj-wrapper .flxend {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.QUIZ-proj-wrapper .moreyoucardswrap:nth-child(1) {
  margin-top: 0;
}
.QUIZ-proj-wrapper .moreyoucardswrap:nth-child(even) {
  flex-direction: row-reverse;
}
.QUIZ-proj-wrapper .moreyoucardswrap [class^="col-"] {
  padding: 0;
}
.QUIZ-proj-wrapper .moreyoucardswrap img {
  width: 100%;
}
.QUIZ-proj-wrapper .flexrightmore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px !important;
}
.QUIZ-proj-wrapper .flexrightmore .conti {
  overflow: hidden;
  width: 100%;
}
.QUIZ-proj-wrapper .mt-15 {
  margin-top: 35px;
}
.QUIZ-proj-wrapper .tittell {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}
.QUIZ-proj-wrapper .imgfruwrp {
  width: auto;
  height: auto;
}
.QUIZ-proj-wrapper .imgfruwrp img {
  width: 100%;
  height: 514px;
  object-fit: cover;
}
.QUIZ-proj-wrapper .carsImg img {
  width: 98%;
  height: 374px;
  object-fit: cover;
}
.QUIZ-proj-wrapper .toast-flex {
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.QUIZ-proj-wrapper [class*="toast-pos-"] {
  display: flex;
  justify-content: center;
}
.QUIZ-proj-wrapper .toast-pos-top {
  top: 0;
}
.QUIZ-proj-wrapper .toast-pos-right {
  right: 0;
}
.QUIZ-proj-wrapper .toast-pos-bottom {
  bottom: 0;
}
.QUIZ-proj-wrapper .toast-pos-left {
  left: 0;
}
.QUIZ-proj-wrapper .toast {
  display: none;
  padding: 20px;
  background: #6c0;
  border-radius: 4px;
}
.QUIZ-proj-wrapper .DEBB .toast {
  display: block;
}
.QUIZ-proj-wrapper .close-toast {
  color: #fff;
  margin-left: 12px;
  text-decoration: none;
  font-size: 18px;
  vertical-align: middle;
}
.QUIZ-proj-wrapper.lang_fr .read-more-lnk {
  width: 290px;
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-next, .QUIZ-proj-wrapper [dir="rtl"] .slick-prev {
  opacity: 1;
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-next:hover, .QUIZ-proj-wrapper [dir="rtl"] .slick-prev:hover {
  opacity: 0.7;
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-next:before, .QUIZ-proj-wrapper [dir="rtl"] .slick-prev::before {
  content: "";
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-next {
  right: inherit;
  left: 40px;
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-next:before {
  background: url('../assets/src/library/css/arrow-left.png') no-repeat 0 0;
}
.QUIZ-proj-wrapper [dir="rtl"] .slick-prev {
  right: inherit;
  left: 100px;
}
.QUIZ-proj-wrapper [dir='rtl'] .slick-prev:before {
  background: url('../assets/src/library/css/arrow-right.png') no-repeat 0 0;
}
.QUIZ-proj-wrapper.lang_ar {
  direction: rtl;
  font-family: inherit;
}
.QUIZ-proj-wrapper.lang_ar .share-btn {
  font-size: 18px;
}
.QUIZ-proj-wrapper.lang_ar .toast {
  font-size: 18px;
}

.QUIZ-proj-wrapper.lang_ar .read-more-lnk .bg {
  rotate: 180deg;
}
.QUIZ-proj-wrapper.lang_ar .has_long_title .thebtn span {
  margin-right: 12px;
  margin-left: inherit;
  text-align: right;
}
.QUIZ-proj-wrapper.lang_ar .btn-quiz.btn-startquiz img {
  rotate: 180deg;
  margin: 0 5px 0 0;
}
.QUIZ-proj-wrapper.lang_ar .btn-quiz.prev-btn-quiz img {
  rotate: 180deg;
  margin: 0 0 0 5px;
}
.QUIZ-proj-wrapper.lang_ar .btn-quiz.next-btn-quiz img {
  rotate: 180deg;
  margin: 0 6px 0 0;
}
.QUIZ-proj-wrapper .lang_ar .percentage-phrase {
  letter-spacing: inherit;
  display: flex;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
  .QUIZ-proj-wrapper .quiz_image {
    width: 80%;
 }
  .QUIZ-proj-wrapper .quiz_title {
    font-size: 38px;
 }
  .QUIZ-proj-wrapper .quiz_content {
    width: 80%;
 }
  .QUIZ-proj-wrapper .flex, .QUIZ-proj-wrapper .panelsWrapper .options, .QUIZ-proj-wrapper .thebtn {
    display: block;
 }
  .QUIZ-proj-wrapper .share-btn {
    display: flex;
 }
  .QUIZ-proj-wrapper .options {
    width: 90%;
    margin: 20px auto 0 auto;
 }
  .QUIZ-proj-wrapper .flex-raw-center {
    display: block;
 }
  .QUIZ-proj-wrapper .btn-quiz {
    width: 98%;
    margin: 0 auto;
 }
  .QUIZ-proj-wrapper .btn-startquiz {
    margin: 20px auto 0 auto;
 }
  .QUIZ-proj-wrapper .next-btn-quiz {
    margin-top: 20px;
 }
  .QUIZ-proj-wrapper .progressBar {
    width: 90%;
    margin: 20px auto 18px auto;
 }
  .QUIZ-proj-wrapper .navig {
    position: inherit;
 }
  .QUIZ-proj-wrapper .navig .btn-quiz {
    margin: 15px auto;
 }
  .QUIZ-proj-wrapper .qrel {
    text-align: center;
 }
  .QUIZ-proj-wrapper .qrel img {
    width: 90%;
    margin: 20px auto;
 }
  .QUIZ-proj-wrapper .result_inner {
    width: 90%;
 }
  .QUIZ-proj-wrapper .panelsWrapperOuter {
    height: inherit;
 }
  .QUIZ-proj-wrapper .impactfull_desc {
    width: 80%;
 }
  .QUIZ-proj-wrapper .cardsWrapper {
    margin-top: 2px;
 }
  .QUIZ-proj-wrapper .cardsWrapper img {
    width: 100%;
    margin-top: 32px;
 }
  .QUIZ-proj-wrapper .impactfull_title {
    font-size: 26px;
 }
  .QUIZ-proj-wrapper .impactfull_desc {
    font-size: 18px;
    width: 98%;
 }
  .QUIZ-proj-wrapper .impactfull_sub_green {
    font-size: 18px;
 }
  .QUIZ-proj-wrapper .slick-next, .QUIZ-proj-wrapper .slick-prev {
    bottom: -80px;
 }
  .QUIZ-proj-wrapper .slick-next {
    right: 10px;
 }
  .QUIZ-proj-wrapper .slick-prev {
    right: 65px;
 }
  .QUIZ-proj-wrapper .imgfruwrp img {
    height: 100%;
 }
  .QUIZ-proj-wrapper .panelsWrapper {
    min-height: inherit;
 }
  .QUIZ-proj-wrapper .percentage-phrase {
    display: block;
 }
  .QUIZ-proj-wrapper .tittell {
    font-size: 22px;
 }
  .QUIZ-proj-wrapper .slick-prev, .QUIZ-proj-wrapper .slick-next {
    width: 42px;
    height: 42px;
 }
  .QUIZ-proj-wrapper [dir='rtl'] .slick-next {
    right: inherit;
    left: 0;
 }
  .QUIZ-proj-wrapper [dir="rtl"] .slick-prev {
    right: inherit;
    left: 55px;
 }
}
.QUIZ-proj-wrapper.lang_ar .percentage-phrase {letter-spacing: initial;}