/* QUIZzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz   */

/* Rectangle 4354 */
.QUIZ-proj-wrapper {
  font-family: "Roboto", sans-serif;
}

.panel-start-quiz {
  background: url("../img/bg.png") 1px 1px;
}

.progressBar {
  width: 700px;
  height: 10px;
  background: rgba(194, 194, 194, 0.3);
  border-radius: 40px;
  margin-top: 32px;
  position: relative;
}
.progressBarInner {
  position: absolute;
  height: 10px;
  border-radius: 40px;
  background: #66cc00;
  width: 10%;
  left: 0;
}

.quiz_image {
  margin-top: 57px;
  width: 947px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz_title {
  font-size: 58px;
  font-weight: 800;
  color: #161616;
  margin-top: 48px;
}
.quiz_content {
  font-size: 24px;
  font-weight: 400;
  width: 584px;
  text-align: center;
  margin-top: 24px;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pointer {
  cursor: pointer;
}

.btn-quiz {
  margin-top: 48px;
  width: 222px;
  border-radius: 4px;
  padding: 12px 0;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #66cc00;
  display: flex;
  justify-content: center;
}
.btn-quiz:hover {
  opacity: 0.8;
}
.btn-quiz-green {
  background: #66cc00;
}
.btn-quiz img {
  margin-left: 8px;
  align-items: center;
  object-fit: contain;
}
.prev-btn-quiz {
  flex-direction: row-reverse;
}
.prev-btn-quiz img {
  margin: 0 10px 0 0;
}
.btn-quiz-green.disabled {
  border: 2px solid #a6b19b;
  background: #a6b19b;
  cursor: default;
}
.btn-quiz-white {
  background: #ffffff;
  color: #000000;
}

.visible {
  display: block;
  visibility: visible;
}

.navig {
  padding-bottom: 25px;
  padding-top: 25px;
  background: #ffffff;
  box-shadow: 0px -3px 13px rgba(0, 0, 0, 0.03);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navig .btn-quiz {
  margin: 0 35px;
}
.flex-raw-center {
  display: flex;
  justify-content: center;
}
.options {
  margin-top: 48px;
  width: 900px;
}
.thebtn {
  list-style: none;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px 16px;
  margin: 0 16px 16px 0;
  font-size: 18px;
}
.thebtn:hover {
  box-shadow: 0px 1px 5px #c2c2c2;
}
.thebtn.selected {
  border: 1px solid #66cc00;
  background-color: #66cc00;
  box-shadow: 0px 1px 5px #66cc00;
}
.panelsWrapper {
  border-top: 1px solid #d9dbe9;
  margin-top: 32px;
  text-align: center;
}
.panelsWrapperOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 740px;
}

.panelsWrapper .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.counterPer {
  font-weight: 500;
  font-size: 14px;
  margin-top: 7px;
}
.question {
  font-size: 32px;
  color: #161616;
  font-weight: 700;
  margin-top: 32px;
}
.instructions {
  font-size: 24px;
  margin-top: 16px;
  font-weight: 400;
}

.hidden {
  display: none;
  visibility: hidden;
}

.has_long_title {
  flex-direction: column;
  text-align: left;
}
.has_long_title .thebtn {
  border: none;
  border-radius: 0;
  margin: 0 16px 0px 0;
  padding: 4px 0;
  border-bottom: 1px solid #c2c2c2;
}

.has_long_title .thebtn:hover {
  box-shadow: none;
}
.has_long_title .thebtn.selected {
  box-shadow: none;
  background: none;
}
.has_long_title .thebtn .thebtnInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 25px;
  width: 100%;
  border-radius: 8px;
}
.has_long_title .thebtn.selected .thebtnInner {
  background: #ecf9ec;
}
.has_long_title .thebtn:last-child {
  border: none;
}

.has_long_title .thebtn span {
  margin-left: 12px;
}
.has_long_title .thebtn .not-selected {
  padding: 2px;
}

.hidecheck {
  width: 0px;
  user-select: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0px;
}
.flex {
  display: flex;
}

/* RESULTS */
.result_inner {
  width: 1220px;
  justify-content: space-around;
  margin: 0 auto;
}
.big-tit {
  font-size: 64px;
  color: #161616;
  font-weight: 700;
}
.quote {
  font-size: 24px;
  margin-top: 8px;
}
.percentage-phrase {
  font-size: 24px;
  color: #004b00;
  letter-spacing: 0.24em;
  margin-top: 8px;
}
.share-btn {
  border: 2px solid rgba(102, 204, 0, 1);
  border-radius: 4px;
  padding: 16px 28px;
  width: 180px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 48px auto 0 auto;
}
.share-btn .inner {
  justify-content: space-around;
  width: 70px;
  align-items: center;
}
.share-btn:hover {
  border-color: rgba(102, 204, 0, 0.6);
}

.txtc {
  text-align: center;
}
.qrel {
  position: relative;
}
.per_text {
  font-size: 24px;
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.donateBtn {
  margin: 24px auto 0 auto;
  width: 180px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  background-color: #f36b35;
  border-radius: 4px;
  padding: 12px 28px;
  cursor: pointer;
}

/* ARABIC */

.QUIZ-proj-wrapper.lang_ar{direction: rtl;}

.QUIZ-proj-wrapper.lang_ar .has_long_title .thebtn span{margin-right: 12px;margin-left: inherit;}
.QUIZ-proj-wrapper.lang_ar .btn-quiz.btn-startquiz img{rotate: 180deg;margin: 0 5px 0 0;} 
.QUIZ-proj-wrapper.lang_ar .btn-quiz.prev-btn-quiz img{rotate: 180deg;margin: 0 0 0 5px;}
.QUIZ-proj-wrapper.lang_ar .btn-quiz.next-btn-quiz img{rotate: 180deg;margin:0 6px 0 0;}

.lang_ar .percentage-phrase {
  letter-spacing: inherit;
  display: flex;
  flex-direction: row-reverse;
}

/*  MOBILE */
@media only screen and (max-width: 600px) {
  .quiz_image {
    width: 80%;
  }
  .quiz_title {
    font-size: 38px;
  }
  .quiz_content {
    width: 80%;
  }
  .flex,
  .panelsWrapper .options,
  .thebtn {
    display: block;
  }
  .share-btn {
    display: flex;
  }
  .options {
    width: 90%;
    margin: 20px auto 0 auto;
  }
  .flex-raw-center {
    display: block;
  }
  .btn-quiz {
    width: 80%;
    margin: 0 auto;
  }
  .btn-startquiz {
    margin: 20px auto 0 auto;
  }
  .next-btn-quiz {
    margin-top: 20px;
  }
  .progressBar {
    width: 90%;
    margin: 20px auto 18px auto;
  }
  .navig {
    position: inherit;
  }
  .navig .btn-quiz {
    margin: 15px auto;
  }
  .qrel {
    text-align: center;
  }
  .qrel img {
    width: 90%;
    margin: 20px auto;
  }
  .result_inner {
    width: 90%;
  }
  .panelsWrapperOuter {
    height: 840px;
  }
}
